$main_color: #e52a3f;
$secondary_color: #54617a;
$accent_gray: #e7ebed;
$background_gray: #F2F2F2;
$main_gray: #828c9e;
$text_gray: #828282;
$success_color: #7BCF95;
$container_padding: 15px;
$container_margin: 20px 0;
$element_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
